body {
  background-color: deeppink;
}
p {
  color: orange;
}
h1, h2, h3, h4, h5, h6 {
  color: orange;
  text-align: center;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hotpink;
}
.nav li {
  float: left
}
.nav li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: pink;
}
a {
  text-decoration: none;
}
